name: build

on:
  push:
    branches:
      - '*'
#      - '!compile_time_ninja_check_74'
  pull_request:
    branches:
      - '*'
#      - '!compile_time_ninja_check_74'

jobs:
  clang-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: DoozyX/clang-format-lint-action@v0.5
        with:
          source: '.'
          exclude: './third_party'
          clangFormatVersion: 9

  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Install markdown-link-check
        run: npm i -g markdown-link-check
      - name: Run markdown-link-check on *.md files
        run: ./scripts/check_links.sh

  build:
    env:
      IN_TREE_BUILD_DIR: ${{ github.workspace }}/build_space
      OUT_OF_TREE_BUILD_DIR: ${{ github.workspace }}/../build_space
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
    strategy:
      fail-fast: false
      matrix:
        buildtype: [
          windows-latest,
          windows-latest (clangcl),
# TODO Fix windows-2016 build: Disabled due to:
# Qt5Cored.lib(Qt5Cored.dll) : fatal error LNK1112: module machine type 'x64' conflicts with target machine type 'x86'
#          windows-2016,
          ubuntu-latest,
          ubuntu-latest-ninja,
          macOS-latest,
          macOS-latest-unity,
          macOS-latest-ninja,
          macOS-latest-ninja-unity,
        ]
        include:
        - buildtype: windows-latest
          os: windows-latest
          generator: '"Visual Studio 16 2019"'
          in_source_build: true

        - buildtype: windows-latest (clangcl)
          os: windows-latest
          generator: '"Visual Studio 16 2019" -T "clangcl"'
          in_source_build: true

# TODO Fix windows-2016 build: Disabled due to:
# Qt5Cored.lib(Qt5Cored.dll) : fatal error LNK1112: module machine type 'x64' conflicts with target machine type 'x86'
#        - buildtype: windows-2016
#          os: windows-2016
#          generator: '"Visual Studio 15 2017"'
#          in_source_build: true

        - buildtype: ubuntu-latest
          os: ubuntu-latest
          generator: '"Unix Makefiles"'
          in_source_build: true

        - buildtype: ubuntu-latest-ninja
          os: ubuntu-latest
          generator: '"Ninja"'
          in_source_build: false

        - buildtype:  macOS-latest
          os: macOS-latest
          generator: '"Unix Makefiles"'
          in_source_build: true

        - buildtype:  macOS-latest-unity
          os: macOS-latest
          generator: '"Unix Makefiles" -DCMAKE_UNITY_BUILD=yes -DCMAKE_UNITY_BUILD_BATCH_SIZE=50'
          in_source_build: true

        - buildtype:  macOS-latest-ninja
          os: macOS-latest
          generator: '"Ninja"'
          in_source_build: false

        - buildtype:  macOS-latest-ninja-unity
          os: macOS-latest
          generator: '"Ninja" -DCMAKE_UNITY_BUILD=yes -DCMAKE_UNITY_BUILD_BATCH_SIZE=50 -DCMAKE_CXX_FLAGS_INIT=-DAPPROVAL_TESTS_DISABLE_FILE_MACRO_CHECK'
          in_source_build: true
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@master
    - uses: seanmiddleditch/gha-setup-ninja@v1
      if: contains(matrix.generator, 'Ninja')

    - name: set env for in-source build tree
      if: matrix.in_source_build == true
      run: |
        echo "::set-env name=BUILD_DIR_PATH::${{ env.IN_TREE_BUILD_DIR }}"
    - name: set env out-of-source
      if: matrix.in_source_build == false
      run: |
        echo "::set-env name=BUILD_DIR_PATH::${{ env.OUT_OF_TREE_BUILD_DIR }}"
    - name: check env
      run: |
        echo Build space: ${{ env.BUILD_DIR_PATH }}

    - name: install qt
      uses: jurplel/install-qt-action@v2

    - name: make build space
      run: |
        mkdir ${{ env.BUILD_DIR_PATH }}
    - name: cmake
      run: |
        cmake --version
        cmake -G ${{ matrix.generator }} ${{ github.workspace }}
      working-directory: ${{ env.BUILD_DIR_PATH }}
    - name: build
      run: cmake --build .
      working-directory: ${{ env.BUILD_DIR_PATH }}
# Not running tests for now: hangs forever on Windows, and doesn't find display on other platforms
#    - name: test
#      run: ctest --verbose --parallel 4 -C Debug
#      working-directory: ${{ env.BUILD_DIR_PATH }}
